 <!-- NAVBAR SECTION -->
 <div class = "container-fluid">
    <nav class="navbarbg navbar navbar-expand-sm navbar-light" id="navbarbg" >
        <div class="container-fluid" style="padding: 10px;">
            <a class="navbar-brand" href="#">Travel Experts</a>
            <!--aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#navbarCollapse"-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!--me-auto mb-2 mb-md-0-->
                <ul class="navbar-nav mb-md-1">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>