<!DOCTYPE html>

<html lang=en>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tales of Time Travel Registration</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type= "text/css" href="masterstyle.css" >
	</head>
	<body>
	
	        <div class = "container-fluid">
                <nav class="navbarbg navbar navbar-expand-sm navbar-light" id="navbarbg" >
                    <div class="container-fluid" style="padding: 10px;">
                        <a class="navbar-brand" href="#">Travel Experts</a>
                <!--aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#navbarCollapse"-->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <!--me-auto mb-2 mb-md-0-->
                        <ul class="navbar-nav mb-md-1">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="vacationpackages.html">Vacation Packages</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="register.html">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </nav>
        </div>
	
		<div class="p-2 p-md-5 border rounded-3 bg-light">
			<section class="h-100 h-custom" style="background: linear-gradient(360deg,#ffff00 ,#00aeff);">
			  <div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
				  <div class="col-lg-8 col-xl-6">
					<div class="card rounded-3">
					  <div class="card-body p-4 p-md-5">
						<h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Travel Experts Registration</h3>

						<form method="post" action="/register">
							<div class="form-outline mb-4">
								<label for="fname">First name</label>
								<input type="text" name="fname" placeholder="First Name" required="required"><br />
								
								<label for="lname">Last name</label>
								<input type="text" name="lname" placeholder="Last Name" required="required"><br />
								
								<label for="Email">Email Address</label>
								<input type="email" name="email" placeholder="Enter email" required="required"><br />
								
								<label for="hphone">Home Phone Number</label>
								<input type="hphone" name="hphone" placeholder="Home Phone Number" required="required"><br />
								
								<label for="bphone">Business Phone Number</label>
								<input type="bphone" name="bphone" placeholder="Business Phone Number" required="required"><br />
								
								<label for="postalcode">Postal Code</label>
								<input type="postalcode" name="postalcode" placeholder="Postal Code" required="required"><br />
								
								<label for="address">Address</label>
								<input type="text" name="address" placeholder="Address" required="required"><br />
								
								<label for="city">City</label>
								<input type="text" name="city" placeholder="City" required="required"><br /> 
								
								<label for="country">Country</label>
								<select name="country">
									<option value="CA">Canada</option>
									<option value="US">USA</option>
									<option value="MX">Mexico</option>
								</select><br />
								
								<label for="prov">Province</label>
								<select name="prov">
									<option value="AB">Alberta</option>
									<option value="BC">British Columbia</option>
									<option value="MB">Manitoba</option>
									<option value="NB">New Brunswick</option>
									<option value="NL">Newfoundland</option>
									<option value="NT">Northwest Territories</option>
									<option value="NS">Nova Scotia</option>
									<option value="NU">Nunavut</option>
									<option value="ON">Ontario</option>
									<option value="PE">Prince Edward Island</option>
									<option value="QC">Quebec</option>
									<option value="SK">Saskatchewan</option>
									<option value="YT">Yukon</option>
								</select><br />
									<button type="submit" onclick="return confirm('Continue Submitting?')">Submit</button>
									<button type="reset" onclick="return confirm('Do you want to reset?');">Reset</button>
								
							</div>
						</form>
						
							</div>
						  </div>

					
						
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</section>
</html>